<div>
    <div>
        <h1 class="text-center text-white">Le cycle de saison</h1>
    </div>
    <div>
    <ul class="nav justify-content-center">
         <li class="nav-item">
             <a class="nav-link active text-dark btn btn-success" aria-current="page" href="{{ path('saisons',{'saison':'ETE'})}}">Ete</a>
         </li>
          <li class="nav-item">
           <a class="nav-link text-dark btn btn-warning" href="{{ path('saisons',{'saison':'PRINTEMPS'})}}">Printemps</a>
        </li>
       <li class="nav-item">
           <a class="nav-link text-dark btn btn-danger" href="{{ path('saisons',{'saison':'AUTOMNE'})}}">Automne</a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-dark btn btn-info" href="{{ path('saisons',{'saison':'HIVER'})}}">Hiver</a>
        </li> 
    </ul> 
    </div>
</div>
<hr>
